---
interface Props {
    pokedex_id: string;
    name: string;
    photo: string;
    type_1: string;
    type_2: string;
    classname_1: string;
    classname_2: string;
}

const { pokedex_id, name, photo, type_1, type_2, classname_1, classname_2 } = Astro.props;
---

<div class="carta-pokemon">
    <span class="pokemon_id_p">#{pokedex_id}</span>
    <img class="foto-carta" src={photo} alt="Foto de {name}" />
    <p class="nombre_pokemon_card">{name}</p>
    <div class="etiquetas_tipos">
        <span class={`etiqueta_tipo ${classname_1}`}>{type_1}</span>
        <span class={`etiqueta_tipo ${classname_2}`}>{type_2}</span>
    </div>
</div>
<style>
    .carta-pokemon {
        width: 200px;
        height: auto;
        border-radius: 25px;
        background-color: #dcd0a8;
        font-family: "Mogra", system-ui;
        padding-bottom: 10px;
    }
    .pokemon_id_p {
        display: block;
        width: 100%;
        text-align: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #4a9782;
        cursor:pointer;
    }
    .foto-carta {
        width: 200px;
    }
    .nombre_pokemon_card {
        font-size: 20px;
        text-align: center;
    }
    .etiqueta_tipo {
        display: block;
        background-color: aliceblue;
        padding-block: 15px;
        padding-inline: 15px;
        border-radius: 25px;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .etiquetas_tipos{
        display: flex;
        gap: 10px;
        padding-inline: 10px;
        justify-content: center;
    }
</style>
